* {
    box-sizing   : border-box;
    /* border    : 1px solid black; */
}

.active {

    background-color: #7AB800;
    border-radius   : 5px;
}

.inactive {
    background-color: #B4FF1F;
    border-radius   : 5px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {

    .container {
        display         : flex;
        flex-direction  : column;
        width           : 100%;
        background-color: #EDEDED;
    }

    .content {
        flex           : 8.5;
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: center;
    }
}

@media only screen and (min-device-width : 737px) {

    .container {
        display         : flex;
        flex-direction  : row;
        width           : 100%;
        background-color: #EDEDED;
    }

    .content {
        flex           : 8.5;
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: flex-start;
    }
}

.empty_container {
    width      : 100%;
    text-align : center;
    line-height: 300px;
}

.sidebar {
    flex          : 1.5;
    display       : flex;
    flex-direction: column;
}

.launch_year__container {
    display       : flex;
    flex-direction: column;
}

.launch_year__header,
.launch_status__header,
.landing_status__header {
    text-align   : center;
    border       : none;
    border-bottom: 1px solid #C7C7C7;
    margin-top   : 10px;
    margin-bottom: 10px;
}

.launch_years {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-evenly;
}

.launch_year__btn {
    width        : 35%;
    height       : 30px;
    text-align   : center;
    margin-top   : 5px;
    margin-bottom: 5px;
}

.launch_status__container,
.landing_status__container {
    display       : flex;
    flex-direction: column;
}

.launch_status,
.landing_status {
    display        : flex;
    justify-content: space-evenly;
}

.launch_status>button,
.landing_status>button {
    width     : 35%;
    text-align: center;
    height    : 30px;
}

/* .content {
    flex              : 8.5;
    display           : flex;
    flex-direction    : row;
    flex-wrap         : wrap;
    justify-content   : center;
} */

.spacex__tile {
    flex            : 0 0 23%;
    margin-left     : 10px;
    margin-right    : 10px;
    min-height      : 200px;
    margin-bottom   : 10px;
    margin-top      : 10px;
    padding-top     : 10px;
    padding-bottom  : 10px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    background-color: #ffffff;
    border-radius   : 8px;
}

.spacex_img__container {
    width     : 272px;
    height    : 200px;
    align-self: center;
}

.spacex_img {
    width : 100%;
    height: 100%;
}

.spacex_info__containter {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
}

.spacex_info__containter>div {
    width       : 46%;
    padding-left: 5px;
}

.spacex_info__containter>div:nth-child(odd) {
    color: #616161;
}

.spacex_info__containter>div:nth-child(even) {
    font-weight: bold;
}

.spacex_info__containter>div:nth-child(1) {
    width      : 92%;
    font-weight: bold;
    color      : #4D4DFF;
}

.spacex_info__containter>div:nth-child(7),
.spacex_info__containter>div:nth-child(9),
.landing_status__text {
    text-transform: capitalize;
}