.App{
  display:flex;
  flex-direction:column;
  margin:0 auto;
  max-width:1080px;
}

.UsersContainer{
  display:flex;
  flex-direction: column;
  max-width:100%;
}

.userRecordContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.userRecord{
  flex-grow:1;
  flex-shrink:1;
  flex-basis:auto;
}